* {
  background-color: coral;
  box-sizing: border-box;
  margin: 0;
}

title {
  display: none;
}

.startButton {
  margin: 25px;
  display: inline-block;
  padding: 1 0px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.startButton:hover {
  background-color: #3e8e41;
}

.startButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.container {
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.titleGame {
  padding: 10px;
  text-align: center;
  font-size: 50px;
  color: blue;
  width: 600px;
  height: 80px;
  background: green;
  border-radius: 25px;
}

@media (max-width: 850px) {
  .titleGame {
    width: 40vh;
    font-size: 40px;
    height: 70px;
  }
}

.cell {
  height: 64px;
  width: 64px;
  border: 2px solid black;
}

.floor {
  /* background-color: grey; */
  background-image: url(./img/floor.png);
  z-index: 2;
}

.wall {
  background-color: rgb(238, 24, 24);
}

.target {
  background-color: gold;
}
