.board {
  width: 60px;
  height: 60px;
  border: 1px solid rgb(0, 0, 0);
}

.WALL {
  background-image: url("../../img/wall2.jpg");
  background-size: contain;
}

.FLOOR {
  background-image: url("../../img/floor.png");
  background-size: contain;
}

.GAMER {
  background-image: url("../../img/player.png");
  background-size: contain;
  z-index: 99999;
}

.BOX {
  background-image: url("../../img/boxOpen.png");
  background-size: contain;
  z-index: 9;
}

.TARGET {
  background-image: url("../../img/star.png");
  background-size: contain;
}

.BOX-CLOSE {
  background-image: url("../../img/boxClose.png");
  background-size: contain;
  z-index: 99;
}
