.board {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 40px);
}

.WALL {
  background-color: saddlebrown;
  z-index: 2;
}

.FLOOR {
  background-color: grey;
  z-index: 1;
}

.GAMER {
  background-color: darkblue;
  z-index: 5;
}

.BOX {
  background-color: darkgoldenrod;
  z-index: 4;
}

.TARGET {
  background-color: chartreuse;
  z-index: 3;
}
