.board {
  width: 60px;
  height: 60px;
  border: 1px solid rgb(0, 0, 0);
}

.WALL {
  background-image: url("../../img/wall2.jpg");
  background-size: contain;
}

.FLOOR {
  background-color: grey;
}

.GAMER {
  background-color: darkblue;
  z-index: 9;
}

.BOX {
  background-color: gold;
  z-index: 2;
}

.TARGET {
  background-color: chartreuse;
  z-index: 1;
}
